[v-cloak] {
	display: none;
}
#app {
	margin: 0;
	padding: 0;
}
table {
	border: 1px solid #e0e0e0;
}
tr	{
	font-size: 14px;
	text-align: center;
}
td	{
	/*padding: 0 20px;*/
	/*border: 1px solid #e0e0e0;*/
}